<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <style>
      #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;            /* Footer height */
      }
      #login .container1 #login-row #login-column #login-box {
        margin-top: 120px;
        max-width: 600px;
        height: 320px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
      }
      #login .container1 #login-row #login-column #login-box #login-form {
        padding: 20px;
      }
      #login .container1 #login-row #login-column #login-box #login-form #register-link {
        margin-top: -85px;
      }
      body {
        margin: 0;
        padding: 0;
        background-color: rgb(16, 111, 117,0.5);
        height: 100vh;
      }
      label{
        float: left;
      }
      
    </style>
</head>
<body >
  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
   
    <%- include('partials/header.ejs') %>
    
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
      <div id="login" align="center">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container1" >
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: auto;" class="col-md-12">
                        <form id="login-form" class="form" action="/login" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="text" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group" style="margin-bottom: 0%;">
                        
                                <input type="submit" name="submit" align="center" class="btn btn-info btn-md" value="submit">
                               
                            </div>
                            <div id="register-link" class="text-right"  style="margin-top: 0%;" > 
                              <p>If you haven't registered yet register here <button><a href="/register" class="text-info">Register here</a></button></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer id ="footer" style="color:white;">
        <%- include('partials/footer') %>
    </footer>
</body>

</html>