<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body style = "background: url(assets/img/hero-background.jpg) top center;">
  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
   
    <%- include('partials/header.ejs') %>
    
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero"  style="opacity: 0;">
    <div class="hero-container">
      
  </section><!-- #hero -->
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>

</html>