<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>

<body>

    <header id="header" class="fixed-top">
     
      <%- include('partials/header.ejs') %>
      
    </header>
</body>
</html>