<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
    <style>
      #footer {
        position: absolute;
        bottom: -1;
        width: 100%;
        height: 2.5rem;            /* Footer height */
      }
      #login .container1 #login-row #login-column #login-box {
        margin-top: 120px;
        max-width: 600px;
        height: 320px;
        border: 1px solid #9C9C9C;
        background-color: #EAEAEA;
      }
      #login .container1 #login-row #login-column #login-box #login-form {
        padding: 20px;
      }
      #login .container1 #login-row #login-column #login-box #login-form #register-link {
        margin-top: -85px;
      }
      body {
        margin: 0;
        padding: 0;
        background-color: rgb(16, 111, 117,0.5);
        height: 100vh;
      }
      html {
        overflow-y: scroll; 
      }
      label{
        float: left;
      }
      
    </style>
</head>
<body >
  
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
   
    <%- include('partials/header.ejs') %>
    
  </header><!-- End #header -->

  <!-- ======= Hero Section ======= -->
      <div id="login" align="center">
       
        <div class="container1" >
           
            <div id="login-row" class="row justify-content-center align-items-center" >
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="height: auto;" class="col-md-12">
                        <form id="login-form" class="form" action="/register" method="post" enctype='application/x-www-form-urlencoded'>
                            <h3 class="text-center text-info">Registration</h3>
                           
                            <div class="form-group">
                                <label  class="text-info">Username:</label><br>
                                <input type="text" name = "username"  class="form-control">
                            </div>
                            <div class="form-group">
                                <label  class="text-info">Password:</label><br>
                                <input type="password" name="password"  class="form-control">
                                <label  class="text-info">Confirm Password:</label><br>
                                <input type="password" name="confirm_password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label  class="text-info">Full Name :</label><br>
                                <input type="text" name="full_name" class="form-control">
                            </div>
                            <div class="form-group">
                                <label  class="text-info">Email address:</label><br>
                                <input type="email" name="email"  class="form-control">
                            </div>
                            <div class="form-group">
                                <input align ="center" type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <p> <%- (typeof alertMsg!='undefined')? alertMsg:''%></p>
    </div>
    <footer id ="footer" style="color:white;">
        <%- include('partials/footer') %>
    </footer>
</body>

</html>