<!DOCTYPE html>
<html>
<head>
<title>Menu card</title>
</head>
<body>
<center><img src="assets/img/MENUCARD.jpg"></img>
</center>
<!-- ======= Footer ======= -->
<footer id="footer">
    <%- include('partials/footer') %>
  </footer><!-- End #footer -->
</body>
</html>